RABBITMQ_USER=user
RABBITMQ_PASS=password
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

MONGO_USER=admin
MONGO_PASS=password
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=gdash_solar

API_PORT=3000
JWT_SECRET=super-secret-key-change-me

OPEN_METEO_URL=https://api.open-meteo.com/v1/forecast
SOLAR_PANEL_TILT=25
SOLAR_PANEL_AZIMUTH=180
COLLECTOR_SCHEDULE_MINUTES=1
CITY_LAT=2.8235
CITY_LON=-60.6758
